In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from math import ceil

from datetime import datetime

from sklearn.preprocessing import StandardScaler

In [15]:
train=pd.read_csv('sales_train_v2.csv')

In [17]:
# 将 train.date 中的数据格式化成时间格式，然后只保留月份
train['month'] = train.date.apply(lambda x: datetime.strptime(x, '%d.%m.%Y').strftime('%m'))
train['year'] = train.date.apply(lambda x: datetime.strptime(x, '%d.%m.%Y').strftime('%Y'))

In [19]:
train = train.groupby(['shop_id', 'item_id', 'date_block_num']).sum()
train = train.sort_index()
train.head()

                                item_price  item_cnt_day
shop_id item_id date_block_num
0       30      1                   2385.0          31.0
        31      1                   3038.0          11.0
        32      0                    884.0           6.0
                1                   1547.0          10.0
        33      0                   1041.0           3.0

In [22]:
train.loc[(0,30)]

                item_price  item_cnt_day
date_block_num
1                   2385.0          31.0

In [5]:
 train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 8 columns):
date              object
date_block_num    int64
shop_id           int64
item_id           int64
item_price        float64
item_cnt_day      float64
month             object
year              object
dtypes: float64(2), int64(3), object(3)
memory usage: 179.2+ MB

In [11]:
train[train['year']=='2015']['month'].unique()

array(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10'],
      dtype=object)

In [12]:
train[train['year']=='2014']['month'].unique()

array(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12'], dtype=object)

In [13]:
train[train['year']=='2013']['month'].unique()

array(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12'], dtype=object)

In [7]:
data = pd.DataFrame({'A':[1,2,3],'B':[4,5,6],'C':[7,8,9]},index=["a","b","c"])
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, a to c
Data columns (total 3 columns):
A    3 non-null int64
B    3 non-null int64
C    3 non-null int64
dtypes: int64(3)
memory usage: 96.0+ bytes

In [8]:
data.loc['b']

A    2
B    5
C    8
Name: b, dtype: int64

In [13]:
maxlen=4
BLOCKS=[6,7,8]

In [14]:
for i_index, i in enumerate(BLOCKS):
    for j in range(maxlen+1):
        print(j)
        if j < maxlen:
            print("小于")
        elif i_index < 2:
            print("大于")

0
小于
1
小于
2
小于
3
小于
4
大于
0
小于
1
小于
2
小于
3
小于
4
大于
0
小于
1
小于
2
小于
3
小于
4

In [34]:
length=50
x = np.zeros((10, maxlen, 50), dtype=np.float32)
x

array([[[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]],

       [[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]],

       [[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]],

       ...,

       [[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]],

       [[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]],

       [[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]]], dtype=float32)

In [ ]:
len(x)